<div>
  <h2>Order page</h2>

  <div *ngIf="order">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput [(ngModel)]="order.address" required />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>State</mat-label>
        <mat-select [(ngModel)]="order.state">
          <mat-option [value]="stateType.notOrdered">Not ordered</mat-option>
          <mat-option [value]="stateType.ordered">Ordered</mat-option>
          <mat-option [value]="stateType.confirmed">Confirmed</mat-option>
          <mat-option [value]="stateType.delivered">Delivered</mat-option>
          <mat-option [value]="stateType.paid">Paid</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <div *ngFor="let product of order.products">
        <a [routerLink]="['/product', product.id]">{{product.name}}</a>
        <button mat-button (click)="removeProduct(product)">Remove</button>
      </div>
    </div>

    <div>
      <a [routerLink]="['/user', order.user.id]">{{order.user.username}}</a>
    </div>

    <div>
      <button mat-button (click)="update()">Save</button>
    </div>
  </div>

  <div *ngIf="!order">
    <h4>No order data was found</h4>
  </div>
</div>
