<div>
  <div>
    <mat-select [(ngModel)]="chosenSearchType">
      <mat-option [value]="searchType.byName">By name</mat-option>
      <mat-option [value]="searchType.byCategory">By category</mat-option>
      <mat-option [value]="searchType.byPrice">By price</mat-option>
    </mat-select>
  </div>

  <div [ngSwitch]="chosenSearchType">
    <div *ngSwitchCase="searchType.byName">
      By name section
    </div>
    <div *ngSwitchCase="searchType.byCategory">
      By category section
    </div>
    <div *ngSwitchCase="searchType.byPrice">
      By price section
    </div>
  </div>
</div>
