<div>
  <div>
    <h2>Product page</h2>
  </div>

  <div *ngIf="product">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="product.name" #name="ngModel" required />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput type="number" [(ngModel)]="product.price" #price="ngModel" required min="0" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <input matInput [(ngModel)]="product.category" #category="ngModel" required />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="product.description"></textarea>
      </mat-form-field>
    </div>

    <div>
      <button mat-button [disabled]="name.invalid || price.invalid || category.invalid" (click)="createOrUpdate()">Save</button>
    </div>

    <div *ngIf="id">
      <button mat-button [disabled]="name.invalid || price.invalid || category.invalid" (click)="order()">Order</button>
    </div>
  </div>

  <div *ngIf="!product">
    <h2>No product data was found</h2>
  </div>
</div>
